<form [formGroup]="datoForm" (ngSubmit)="onSubmit()">
    <div formGroupName="persona">
        <h3>Información Personal</h3>
        <label for="nombre">Nombre:</label>
        <input type="text" formControlName="nombre" class="form-control">
        <br />
        <label for="apellido">Apellido:</label>
        <input type="text" formControlName="apellido" class="form-control">
        <br />
        <label for="dni">Número de Documento:</label>
        <input type="number" formControlName="dni" class="form-control">
        <br />
    </div>
    <label for="curso">Curso:</label>
    <select id="curso" formControlName="curso" class="form-control">
        @for(curso of cursos; track curso.id){
            <option>{{ curso.codigoCurso }}</option>
            <option>{{ curso.nombreCurso }}</option>
            <option>{{ curso.anio }}</option>
            <option>{{ curso.cuatrimestre }}</option>
        }
    </select>
    <button type="button" (click)="onClick()" class="btn btn-secondary m-1">Verificar</button>
    <button type="submit" [disabled]="!datoForm.valid" class="btn btn-primary m-1">Siguiente</button>
</form>