<h1>Estudiantes</h1>
<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
    <div class="input-group">
        <input type="text" id="buscar-estudiante" name="nombre" placeholder="Buscar por dni/pasaporte"
            class="form-control">
        <div class="input-group-append">
            <button class="btn btn-primary" type="button">
                <i class="fas fa-search fa-sm"></i>
            </button>
        </div>
    </div>
</form>
<table class="table mt-3" id="estudiantes-table">
    <thead>
        <tr>
            <th>Titulo_sec</th>
            <th>Escuela_sec</th>
            <th>Anio_egreso</th>
            <th>Dni/Pasaporte</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Telefono</th>
            <th>Partido</th>
            <th>Calle</th>
            <th>Numero</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>alum</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <a href="">Mostrar</a>
                <a href="">Editar</a>
            </td>
        </tr>
    </tbody>
</table>
<a href="#">Crear Alumno</a>