nav {
    display: inline-flex;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.itemLogo {
    display: flex;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.itemUl {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}